<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Benzinİstasyonu.Properties.Settings.veritabaniConnectionString"
            connectionString="Data Source=FUNDA\SQLEXPRESS;Initial Catalog=veritabani;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Benzinİstasyonu.Properties.Settings.benzinistasyonuConnectionString"
            connectionString="Data Source=FUNDA\SQLEXPRESS;Initial Catalog=benzinistasyonu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>